/**
* @name JDM
* @version 1.0
* @description Made By JDM#7074
* @author JDM
*/
@import url("https://codedotspectra.github.io/themes/themes-cores/neutron8.css");
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed');
@import url('https://codedotspectra.github.io/themes/core/custom-font.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed');
:root {
--themeColor1: #36D1DC;
--themeColor2: #5B86E5;
--customFont: 'Saira Condensed';
--homeImage: url('https://i.imgur.com/HjTqQ1h.jpg');
--homeImageSize: cover;
--backgroundColor: #0d0d0d;
--backgroundImage: url('https://images5.alphacoders.com/542/542751.jpg');
--backgroundPosition: center;
--backgroundSize: cover;
--backgroundRepeat: repeat;
--backgroundBlur: 0px;
--backgroundOpacity: 1;
--rs-small-spacing: 0px;
--rs-medium-spacing: 0px;
--rs-large-spacing: 0px;
--rs-small-width: 2px;
--rs-medium-width: 4px;
--rs-large-width: 2px;
--rs-avatar-shape: 50%;
--rs-online-color: #43b581;
--rs-idle-color: #faa61a;
--rs-dnd-color: #f04747;
--rs-offline-color: #000000FF;
--rs-streaming-color: #643da7;
--rs-invisible-color: #747f8d;
--rs-phone-visible: block;
--customFont: 'Saira Condensed';
}

.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs)>.wrapper-30-Nkg {padding: 0 0 0 16px}
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs)>.wrapper-30-Nkg.compact-2Nkcau {padding: 0 0 0 108px}
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) {margin: 0}
.scrollerInner-2PPAp2>.groupStart-3Mlgv1.expanded-3lghlw:not(.backgroundFlash-1X5jVs) {background-color: var(--info-danger-background)}
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) .messageListItem-ZZ7v6g .groupStart-3Mlgv1,
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs, .expanded-3lghlw)+.messageListItem-ZZ7v6g .groupStart-3Mlgv1 {margin-top: 0}
.scrollerInner-2PPAp2>.groupStart-3Mlgv1:not(.backgroundFlash-1X5jVs) .messageListItem-ZZ7v6g {opacity: .5}
.blockedSystemMessage-3FmE9n .iconContainer-2rPbqG {display: none}
.blockedMessageText-3Zeg3y {position: relative;font-size: 12px;line-height: 16px;color: var(--interactive-muted)}
.blockedMessageText-3Zeg3y:hover {text-decoration: underline}
.blockedMessageText-3Zeg3y:hover,.groupStart-3Mlgv1.expanded-3lghlw .blockedMessageText-3Zeg3y {color: var(--info-danger-foreground)}
.blockedAction-2cPk2G {position: absolute;inset: 0;width: 100%;opacity: 0}
.blockedMessageText-3Zeg3y:after {content: '';position: absolute;right: 0;height: 100%;width: 14px;pointer-events: none;background-color: currentColor;
-webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 18 24" fill="currentColor"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 3.999V2H9V3.999H3V5.999H21V3.999H15Z M5 6.99902V18.999C5 20.101 5.897 20.999 7 20.999H17C18.103 20.999 19 20.101 19 18.999V6.99902H5ZM11 17H9V11H11V17ZM15 17H13V11H15V17Z" ></path></svg>') center/contain no-repeat
}

:root{
  --roles-roundness: 0; /* change the 0 to any other number if you want the roles to be fully round */

  --roles-roundness-calc: calc((var(--roles-roundness) + .21) * 25px)
}
.role-2TIOKu {
  transform: translate(0);
  border: 0;
  border-radius: var(--roles-roundness-calc);
}
.role-2TIOKu .roleRemoveIcon-387wKV {
  margin: 0;
  left: unset;
  transform: translate(50%,-50%);
}
.role-2TIOKu .roleRemoveButton-17oXnT{position: static}
.role-2TIOKu .roleCircle-3K9O3d:before {
  content: '';
  top: 0;left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  background: inherit;
  border-radius: var(--roles-roundness-calc);
  border: 2px solid transparent;
  -webkit-mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
}

/* Spotify Covers Go Wheeeee */
/* profile */
.assetsLargeImageSpotify-17ME3M {
  animation: spin 3s linear infinite;
  border-radius: 50%
}
/* the animation  */
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Channel Names Capitalized */
.channelName-3KPsGw {
text-transform: capitalize;
}

/* Rounded Context Menu */
.menu-1QACrS, .colorDefault-CDqZdO { 
    border-radius: 15px; 
}

/* Better Jump To Present Button */
[class*="jumpToPresentBar"] {
    display: contents;
}
[class*="jumpToPresentBar"] > button:first-child {
    display: none;
}
[class*="jumpToPresentBar"] > button:last-child {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    right: 22px;
    padding: 8px !important;
    height: auto;
    background-color: #5865F2;
    box-shadow: var(--elevation-high);
    border-radius: 100px;
    display: flex;
    font-size: 0px;
    color: transparent;
    transition: font-size .2s .1s, color .2s, padding .4s .1s;
}
[class*="jumpToPresentBar"] > button svg {
    order: -1;
    margin: 0px;
    height: 24px;
    width: 24px;
    top: auto;
    margin-right: 0px;
    margin-left: 0px;
    color: #FFFFFF;
    transition: margin .6s;
}
[class*="jumpToPresentBar"]:hover > button {
    padding: 8px 18px !important;
    font-size: 14px;
    color: #FFFFFF;
    transition: font-size .2s, color .2s .1s, padding .4s;
}
[class*="jumpToPresentBar"]:hover > button svg {
    margin-right: 2px;
    margin-left: -6px;
}

.toast-1DEQGy,
.toast-q3Y4wI {
    background: #43b581 !important;
    transform: translateY(10px);
    padding: 6px 10px 6px 10px !important;
    border-radius: 5px;
    box-shadow: var(--elevation-medium), var(--elevation-stroke);
    font-weight: 500;
    color: var(--header-primary);
    opacity: 1;
    margin-top: 10px;
}

.toast-1DEQGy .icon-q80NJC > path,
.toast-q3Y4wI .icon-2QUmmw > path {
    d: none !important;
}

.toast-1DEQGy .icon-q80NJC,
.toast-q3Y4wI .icon-2QUmmw {
    height: 20px !important;
    width: 20px !important;
    margin-top: 0 !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgMkM2LjQ4IDIgMiA2LjQ4IDIgMTJzNC40OCAxMCAxMCAxMCAxMC00LjQ4IDEwLTEwUzE3LjUyIDIgMTIgMnptLTIgMTVsLTUtNSAxLjQxLTEuNDFMMTAgMTQuMTdsNy41OS03LjU5TDE5IDhsLTkgOXoiLz48L3N2Zz4=);
    background-size: 20px 20px;
}

.toast-1DEQGy .colorHeaderPrimary-26Jzh-,
.toast-q3Y4wI .colorHeaderPrimary-jN_yGr {
    font-size: 14px !important;
    line-height: 20px !important;
}

.panels-3wFtMD > .container-YkUktl .flex-2S1XBF > :not(:last-child) {
    opacity: 0% !important;
    width: 0px;
    transition: all 0.2s ease-in-out;
}

.panels-3wFtMD > .container-YkUktl:hover .flex-2S1XBF > :not(:last-child) {
    opacity: 100% !important;
    width: 32px;
}

.connectedAccountIcon-3_EQqg ~ div::before {
    content: "";
    top: 0; bottom: 0; left: 0; right: 0;
    border: 1px solid var(--border-color);
    position: absolute;
    display: block;
    pointer-events: none;
}

:root {
    --sidebar-width: 240px; /* change if your theme resizes the sidebar */
}
.chat-3bRxxu.threadSidebarOpen-vdkwIh {
    resize: horizontal;
    min-width: 400px;
    max-width: calc(100vw - var(--sidebar-width) - 72px - 400px);
}
.chat-3bRxxu:not(.threadSidebarOpen-vdkwIh) {
    width: unset !important;
    flex: 1 1 auto;
}
.threadSidebar-1o3BTy {
    width: unset;
    flex: 1 1 auto;
}

.animatedContainer-2laTjx, .content-2a4AW9 [style="height: 84px;"], .bannerImage-ubW8K-, .animatedBannerHoverLayer-129r1v{
    display: none;
}